footer {
    background-color: var(--fourt-color);
    color: var(--third-color);
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;


    a{
        color: #fff;
        text-decoration: none;
    }
}